
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 0.5s !important;
  animation-duration: 0.5s !important;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #274494;
}

.page-wrapper {
  margin: 0 auto;
  padding: 0 8px;
  max-width: 1445px;
  width: 100%;
}

.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.slick-arrow.slick-next {
  display: none !important;
}

.slick-list .slick-track {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  align-items: stretch;
  margin-left: initial;
  margin-right: initial;
}

.slick-list .slick-track > .slick-slide {
  height: auto;
  padding: 1rem;
}

.my-masonry-grid {
  width: 100%;
  display: flex;
}
.my-masonry-grid_column {
  padding: 10px 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
